{% extends "template.html" %}
{% block conteudo %}
    <a class="btn btn-info" href="{{ url_for('novo') }}">Cadastrar novo jogo</a>

        <table class="table table-striped table-responsive table-bordered">
            <thead class="thead-default">
                <tr>
                    <th class="text-center">Nome</th>
                    <th class="text-center">Categoria</th>
                    <th class="text-center">Console</th>
                    <th class="text-center">Editar jogo</th>
                    <th class="text-center">Apagar jogo</th>
                </tr>
            </thead>
            <tbody>
            {% for jogo in jogos %}
                <tr>
                    <td>{{ jogo.nome }}</td>
                    <td>{{ jogo.categoria }}</td>
                    <td>{{ jogo.console }}</td>
                    <td>
                        <a class="text-secondary" href="{{ url_for('editar', id=jogo.id) }}">Editar</a>
                    </td>
                    <td>
                        <a class="text-danger" href="{{ url_for('deletar', id=jogo.id) }}">Deletar</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
{% endblock %}